body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 28px;
}
.orange{
    color: rgb(218, 76, 21);
}
.copy{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
     width: 80%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(230, 136, 28) ,rgba(221, 47, 16, 0.973));
    padding: 10px 40px;
    border-radius: 5px;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.same{
    display: flex;
    margin: 10%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.present{
    display: flex;
    padding: 5%;
}
.exprince{
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgb(88, 85, 85);
}
.third{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;
    background-position: left;
}
#web{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(230, 44, 20), rgb(221, 91, 30));
    border-image-slice: 1;
}
#development{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(185, 123, 7), rgb(162, 189, 11));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}